.blog-page-block {
    max-width: 330px;
    background: #f6f6f6 none repeat scroll 0 0;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.blog-page-block:hover{
    box-shadow: 0 0 20px #c7c3c3;
}

.blog {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog-sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-page-img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.blog-page-hero-text {
    color: #2d3e50;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.blog-page-hero-title {
    color: #000000;
    font-weight: 400;
    margin-bottom: 44px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.blog-page-contents {
    text-decoration: none;
    background-color: transparent;
    padding: 25px;
}

.blog-page-text {
    color: #007bff;
    margin-bottom: 20px;
}

.blog-page-title {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #414141;
}

.blog-page-button {
    background: #1F3971 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 35px;
    transition: all ease 0.5s;
    margin-top: 20px;
}

.blog-page-button:hover {
    background-color: rgb(253, 65, 65);
    color: white;
}

@media screen and (max-width:1024px){
    .container{
        max-width: 960px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    
    .blog-page-block{
        max-width: 300px;
        padding: 10px;
        box-sizing: border-box;
    }
}
@media screen and (max-width:980px){
    .container{
        padding: 0 15px;
        margin: 0 auto;
        box-sizing: border-box;
        max-width: 960px;
        width: 100%;
    }
    .blog-sections{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .blog-page-block{
        max-width: 370px;
    }
}

@media screen and (max-width:768px){
    .container{
        max-width: 740px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .blog-page-block{
        max-width: 80%;
        margin: 30px auto;
    }

    .blog-sections{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}