.map-block {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.map-block-left {
    width: 50%;
    background-color: rgb(70, 70, 243);
    padding: 20px;
    background-color: #1F3971;
}

.map-block-left-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    color: white;
    margin-bottom: 10px;
}

.map-block-left-text {
    font-size: 14px;
    color: white;
    margin-bottom: 40px;
}
.map-block-left .bottom ul li{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}


.map-block-left .bottom ul li p{
    margin: 0;
    color: #fff;
}


.map-block-left .bottom ul{
    padding: 0;
}

.map-block-left .bottom ul li a i{
    padding: 10px;
    background-color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
}

.map-block-left .bottom ul li a i.fa-facebook-f{
    padding: 11px 14px;
    background-color: #fff;
}

.map-block-left .bottom ul li a i.fa-telegram-plane{
    padding: 10px 12px;
    background-color: #fff;
}

.map-block-left .bottom ul li a i.fa-instagram{
    padding: 10px 12px;
    background-color: #fff;
}

.map-block-left .bottom ul li a i.fa-envelope{
    padding: 10px 11px;
    background-color: #fff;
}   
.map-block-right{
    width: 50%;
    min-height: 100%;
}
iframe{
    width: 100%;
    min-height: 100%;
}

@media screen and (max-width:982px){
    .container{
        width: 100%;
        padding: 0 15px;
        margin:  0 auto;
        max-width: 960px;
        box-sizing: border-box;
    }

    .map-block{
        display: flex;
        padding: 50px 0;
        justify-content: center;
    }
}


@media screen and (max-width:768px){
    .container{
        max-width: 740px;
        margin:  0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        width: 100%;
    }

    .map-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 40px 15px;
    }

    .map-block-left{
        width: 100%;
    }

    .map-block-right{
        width: 100%;
    }
}


@media screen and (max-width:576px){
    .container{
        max-width: 540px;
        margin:  0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        width: 100%;
    }

    .map-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 40px 15px;
    }


    .map-block-right{
        width: 100%;
    }


    .map-block-left{
        width: 100%;
        box-sizing: border-box;
    }
}