.blocks-wrapper, .viza-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block img{
    width: 240px;
    height: 150px;
    object-fit: cover;
}

.block h4{
    font-size: 20px;
    padding: 20px 0 10px 0;
    color: rgb(26, 54, 114);
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
}

section{
    padding: 100px 0;
}

.h1-item{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
    color:  #f95252;
    font-weight: 500;
}

.viza{
    width: 280px;
    padding: 10px 0px;
}

@media screen and (max-width:982px){
    .blocks-wrapper{
        display: flex;
        justify-content: space-around;
    }
    .viza-wrapper{
        display: flex;
        justify-content: space-around;
    }
}


@media screen and (max-width:576px){
    .blocks-wrapper{
        display: flex;
        justify-content: center;
    }
    .viza-wrapper{
        display: flex;
        justify-content: center;
    }
    .block{
        width: 90%;
    }
    .block img{
        width: 100%;
        height: 300px;
    }

    .block h4{
        font-size: 25px;
    }

}