html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: roboto;
}

a {
  text-decoration: none;
}


#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #F95252;
  padding: 6px 10px;
  border-radius: 5px;
  transition: 0.3s;
  border: 2px solid transparent;
  display: none;
}

#angel-right {
  color: #fff;
  font-size: 50px;
  margin: auto;
  top: 50%;
  position: absolute;
  right: 1%;
}

#angel-left {
  position: absolute;
  left: 1%;
  top: 50%;
  color: #fff;
  font-size: 50px;
}

#right-side{
  z-index: 999;
  position: absolute;
  font-size: 50px;
  color: #fff;
  top: 60%;
  right: 10px;
  opacity: 0.9;
}

#left-side{
  opacity: 0.9;
  color: #fff;
  top: 60%;
  left: 10px;
  font-size: 50px;
  z-index: 999;
  position: absolute;
}



.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

.header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header-link {
  margin-right: 45px;
  background-color: #00264F;
  border-radius: 50%;
  transition: 0.3s;
  border: 2px solid transparent;

  &:hover {
    background: none;
    border: 2px solid #00264F;
    border-radius: 50%;

    i {
      color: #00264F;
    }
  }

  &.telegram {
    padding: 13px 10px 11px 13px;
    text-decoration: none;
  }

  &.twitter {
    text-decoration: none;
    padding: 12px 10px 13px 13px;
  }

  &.facebook {
    text-decoration: none;
    padding: 13px 13px 11px 16px;
  }

  &.instagram {
    padding: 13px 14px 13px 14px;
  }

  i {
    font-size: 20px;
    color: #fff;
  }

  &.last {
    margin-right: 0;
  }
}


#navbar {
  display: none;
}


.header-menu {
  width: 100%;
  background-color: blue;

  .header-bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h3 {
      display: none;
    }
  }
}

.header-bottom__left {
  display: flex;
  position: relative;
  width: 70%;

  &.navbarslar {
    display: none;
  }

  .header-bottom-link {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 17px 30px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;

    &:hover {
      background: #F95252;
    }
  }

  .dropdawn {
    &.active {
      .dropdawn-menu {
        display: block;
      }
    }

    position: relative;

    .dropdawn-menu {
      display: none;
      position: absolute;
      z-index: 100;
      border-radius: 10px;

      ul {
        padding: 0;
        margin: 0;
        background-color: #004897;
        padding: 5px;

        li {
          // background-color: rgb(24, 34, 124);
          padding: 5px 40px;
          margin-bottom: 5px;
          border: 1px solid transparent;

          a {
            position: relative;
            color: #fff;
            font-weight: 500;
            text-decoration: none;

            &:before {
              content: '';
              transition: 0.3s;
              position: absolute;
              width: 0;
              margin: auto;
              height: 1px;
              background-color: #fff;
              bottom: -2px;
              left: -26px;
              top: 25px;
            }

            &:hover:before {
              width: 120px;
            }
          }
        }
      }
    }
  }
}

.header-bottom__right {
  position: relative;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 30%;
  .user {
    background-color: #fff;
    border-radius: 50%;
    padding: 9px 12px 9px 12px;
    margin-right: 20px;
    &.admin{
      color: blue;
    }
  }
  
  .lang-blok{
    position: relative;
    a{
      color: #fff;
    }
    .lang-menu{
      z-index: 999;
      position: absolute;
      top: 20px;
      background-color: blue;
      padding: 5px 10px;
      left: -10px;
      display: none;
      &.actives{
        display: block;
      }
      a{
        padding: 5px 0;
        display: block;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  #hamburger {
    display: none;
  }
  .drop-lang{
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .uzb{
      color: #fff;
      font-weight: 600;
    }
    .lang-menu{
      top: 20px;
      position: absolute;
      display: none;
      ul{
        z-index: 100;
        display: flex;
        flex-direction: column;
        li{
          background-color: #fff;
          z-index: 100;
          margin-bottom: 5px;
          a{
            color: #000;
            z-index: 100;
          }
        }
      }
    }
  }
}


//   Header qismidagi carousel //





//  Uchtali karta blokla boshlandii //

.lorem-section-bloks {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;

  .lorem-block {
    border: 1px solid rgb(228, 228, 228);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;

  }

  .lorem-text {
    text-align: center;
    padding: 10px;
  }

  .lorem-title {
    text-align: center;
    max-width: 300px;

  }

  .lorem-img {
    margin: 0 auto;
    display: flex;
    width: 192px;
    height: 104.53px;
    object-fit: contain;
  }
}





//  Pushti rangdagi kotta blokla boshlandi //


.students {
  background: #F95252;
  padding: 31px 0 64px 0;

  .students-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .students-left {
      .students-img {
        max-width: 500px;
        max-height: 500px;
        margin-right: 20px;
      }
    }

    .students-right {
      .students-title {
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 41px;

        color: #FFFFFF;
        margin-bottom: 25px;
      }

      .students-text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;


        color: #FFFFFF;
        max-width: 550px;
      }
    }
  }
}


//  Main qismidagi uchtali bio carousel boshlandi //


.carousel {
  background: #004897;
  width: 100%;
  position: relative;

  h1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
  }

  .section-carous {
    padding-top: 70px;
    padding-bottom: 141px;
    display: flex !important;
    justify-content: space-between !important;

    .block-carous {
      padding: 22px 20px 22px 20px;
      background-color: #fff;
      border-radius: 25px;
      margin-right: 10px !important;
      margin-left: 10px !important;
      outline: none;

      .caraus-user {
        display: flex;
        align-items: center;
        padding-top: 15px;

        .caraus-user-title {
          h3 {
            font-size: 20px;
            color: #333;
          }


          p {
            opacity: 0.7;
            font-size: 14px;
          }
        }
      }

      .caous-img {
        background: #C4C4C4;
        border-radius: 50%;
        margin-right: 30px;
        object-fit: contain;
        min-width: 81px;
        height: 81px;
      }

      .caraous-text {
        max-height: 100px;
        margin: 0;
        padding: 0;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}



//  Footer tepasidagi form qismi boshlandii //


.section-form {
  padding-top: 65px;
  padding-bottom: 150px;
  width: 100%;
  background: #00264F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-form-input {
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
      display: flex;
      width: 50%;
      flex-direction: column;
    }
  }

  .form-text-title {
    margin-bottom: 40px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
  }


  .input-name {
    height: 36px;
    padding: 10px;
    border: none;
    margin-bottom: 8px;
    outline: none;
    display: block;
    border-radius: 5px;
  }

  .input-mail {
    height: 36px;
    outline: none;
    margin-bottom: 8px;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }

  .input-massage {
    height: 190px;
    max-height: 190px;
    outline: none;
    border: none;
    padding: 8px;
    display: block;
    border-radius: 5px;
    resize: none;
  }

  button {
    padding: 10px 50px;
    border: none;
    outline: none;
    background-color: #f95252;
    margin-top: 8px;
    border-radius: 5px;
    color: #fff;
    border: 2px solid transparent;
    transition: 0.3s;
    width: 100%;

    &:hover {
      background: none;
      color: #f95252;
      border: 2px solid #f95252;
    }
  }
}

//   Footer qismi boshlandi //


.footer {
  width: 100%;
  background-color: #2b2b2b;

  .container {
    .footer-top {
      padding: 40px 0 60px 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &_block1 {
        .top {
          img {
            width: 222px;
            object-fit: contain;
          }

          .footer-title {
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            margin-bottom: 0;
            color: #fff;
          }
        }

        .bottom {
          .ul-item1 {
            display: flex;
            margin-top: 27px;
            padding: 0;

            .li-item {
              margin-right: 15px;

              a {
                border-radius: 5px;
                padding: 10px 10px;
                background-color: #fff;
                transition: 0.3s;

                &:hover {
                  background-color: #f95252;

                  i {
                    color: #fff;
                  }
                }

                i {
                  color: #000;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }

      &_block2 {
        h2 {
          color: #fff;
          font-size: 24px;
          font-weight: 800;
          line-height: 18px;
          text-transform: uppercase;
          margin-bottom: 30px;
        }

        .ul-item2 {
          padding: 0;

          .li-item {
            display: flex;
            align-items: flex-start;
            padding: 0;

            i {
              color: #fff;
              padding-right: 10px;
            }

            p,
            a {
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              margin-bottom: 10px;
              display: block;
              color: #fff;
              padding-bottom: 3px;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: rgb(131, 131, 131);
    padding: 10px 10px;
    display: flex;
    justify-content: center;

    &.container {
      display: flex;

      .left {
        h3 {
          font-size: 18px;
          font-weight: 400;
          color: #fff;
          margin: 0;
        }
      }
    }
  }
}

//   Mobilashuv qismi boshlandi     //

@media screen and (max-width: 982px) {
  .container {
    width: 100;
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  #angel-right {
    display: none !important;
  }

  #angel-left {
    display: none !important;
  }

  #navbar {
    display: none;
  }

  .lorem-section-bloks {
    padding: 40px 15px;
  }

  .header-bottom__left {
    &.navbarslar {
      display: none;
    }

    .header-bottom-link {
      font-size: 17px;
      padding: 15px 25px;
    }
  }

  .lorem-block {
    max-width: 31%;
  }

  .students {
    .students-block {
      .students-left {
        .students-img {
          max-width: 400px;
          max-height: 400px;
          margin-right: 20px;
        }
      }
    }
  }

  .carousel {
    .section-carous {
      padding: 50px 50px 50px 50px;

      .block-carous {
        max-width: 45% !important;
        margin-left: 10px !important;
        margin-right: 10px !important;

        h3 {
          font-size: 25px;
          padding: 0;
          margin: 0;
        }

        padding: 22px 25px 22px 22px;

        .caous-img {
          margin-right: 10px;
          border-radius: 50%;
          object-fit: contain;
          min-width: 81px;
          height: 81px;
        }

        .caraous-text {
          margin: 10px;
        }
      }
    }
  }

  .footer {
    .container {
      .footer-top {
        padding: 40px 0 20px 0;
      }
    }

    .footer-bottom {
      padding: 15px 15px 15px 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
  }

  .header-top {
    display: flex;
    justify-content: center;

    .header-right {
      display: none;
    }
  }

  .header-menu {
    .header-bottom {
      padding: 10px 0;

      h3 {
        display: flex;
        font-weight: 400;
        color: #fff;
        margin: 0;
        padding-left: 15px;
      }

      #hamburger {
        display: block;
      }
    }
  }

  .header-bottom__left {
    display: none;

    h3 {
      display: block;
    }

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
    }

    .dropdawns {
      &.active {
        .dropdawn-menu {
          display: block;
        }
      }

      .dropdawn-menu {
        display: none;
        width: 100%;
        background-color: rgb(255, 255, 255);

        ul {
          margin: 0;
          padding: 0;

          li {
            padding: 10px 20px;
            border-bottom: 1px solid rgb(199, 199, 199);

            a {
              font-weight: 400;
              color: #00264F;
            }
          }
        }
      }
    }
  }

  .header-bottom__right {
    display: flex;
    a {
      display: inline-block;
    }
    .lang-blok{
      margin-right: 20px;
    }
  }

  .lorem-section-bloks {
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .lorem-block {
      max-width: 90%;
      margin-bottom: 20px;
    }
  }

  .students {
    padding: 25px 0 40px 0;

    .students-block {
      .students-left {
        .students-img {
          max-width: 350px;
          max-height: 350px;
          margin-right: 20px;
        }
      }

      .students-right {
        .students-title {
          font-size: 30px;
        }

        .students-text {
          font-size: 16px;
        }
      }
    }
  }

  .carousel {
    h1 {
      font-size: 35px;
      padding-top: 27px;
    }

    .section-carous {
      padding: 40px 0 100px 0;

      .block-carous {
        padding: 18px;

        h3 {
          font-size: 20px;
        }

        .user-pos {
          font-size: 15px;
        }

        .caraous-text {
          margin-bottom: 12px;
          font-size: 15px;
        }

        .caous-img {
          margin-right: 20px;
        }
      }
    }
  }

  .section-form {
    padding: 40px 0;

    .section-form-input {
      .form {
        width: 100%;
      }

    }

    .form-text-title {
      margin-bottom: 30px;
      font-size: 30px;
    }

  }
  
  #left-side{
    display: none;
  }
  
  #right-side{
    display: none;
  }
}



@media screen and (max-width:576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
  }

  .header-top {
    display: flex;
    justify-content: center;

    .header-right {
      display: none;
    }
  }

  .header-menu {
    .header-bottom {
      padding: 10px 0;

      h3 {
        display: flex;
        font-weight: 400;
        color: #fff;
        margin: 0;
        padding-left: 15px;
      }

      #hamburger {
        display: block;
      }
    }
  }

  .header-bottom__left {
    display: none;

    h3 {
      display: block;
    }

    &.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
    }

    .dropdawns {
      &.active {
        .dropdawn-menu {
          display: block;
        }
      }

      .dropdawn-menu {
        display: none;
        width: 100%;
        background-color: rgb(255, 255, 255);

        ul {
          margin: 0;
          padding: 0;

          li {
            padding: 10px 20px;
            border-bottom: 1px solid rgb(199, 199, 199);

            a {
              font-weight: 400;
              color: #00264F;
            }
          }
        }
      }
    }
  }

  .header-bottom__right {
    display: flex;

    a {
      display: inline-block;
    }
  }

  .lorem-section-bloks {
    padding: 30px 0 30px 0;
    flex-direction: column;
    display: flex;
    align-items: center;

    .lorem-block {
      max-width: 90%;
      margin-bottom: 25px;
    }
  }

  .students {
    padding: 30px 0;

    .students-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      .students-left {
        .students-img {
          max-width: 300px;
          height: 300px;
          padding-bottom: 20px;
        }
      }

      .students-right {
        .students-text {
          font-size: 15px;
        }

        .students-title {
          font-size: 25px;
        }
      }
    }
  }

  .section-form {
    padding: 45px 0;

    .section-form-input {
      .form {
        width: 100%;
      }
    }

    .input-name {
      max-width: 100%;
      height: 36px;
      padding: 10px;
    }

    .input-mail {
      height: 36px;
      max-width: 100%;
      padding: 10px;
    }

    .input-massage {
      max-width: 100%;
      height: 136px;
      padding: 10px;
    }
  }

  .footer {
    .container {
      .footer-top {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 35px 15px 0 15px;

        &_block1 {
          margin-bottom: 40px;
        }
      }
    }

    .footer-bottom {
      padding: 10px 15px;

      .container {
        display: flex;
        flex-direction: column;

        .left {
          h3 {
            max-width: 100%;
            margin: 0;
          }
        }
      }
    }
  }

  #left-side{
    display: none !important;
  }
  
  #right-side{
    display: none;
  }
}